{% extends "base.html" %}
{% block left_colon %}
    <div class="links-div container">
        {% if group %}
        <div class="row">
            <a class="left-colon-link" href="{% url 'groups:group_page' group.id %}">Back to group page</a>
        </div>
        {% endif %}
        <div class="row">
            <a class="left-colon-link active" href="{% url 'tasks:exercises' %}">Choose dictionary</a>
        </div>
        {% if group %}
        <div class="row">
            <a class="left-colon-link" href={% url 'groups:create_group_dictionary' group.id %}>Create dictionary</a>
        </div>
        {% else %}
        <div class="row">
            <a class="left-colon-link" href={% url 'dictionaries:create_dictionary' %}>Create dictionary</a>
        </div>
        <div class="row">
            <a class="left-colon-link" href={% url 'accounts:statistics' %}>Statistics</a>
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block head_title %}
Choose a dictionary
{% endblock %}
{% block content %}
    <div class="container">
    {% if dictionaries|length > 0 %}
    <h4>Dictionaries:</h4>
        {% for dictionary in dictionaries %}
            <div class="row dict-box">
                <div class="container">
                <div class="row">
                    <div class="col-9">
                        <div class="row">
                            <a class="dict-link" href="{% url 'tasks:create_exercise' dictionary.id %}">{{ dictionary.title }}</a>
                        </div>
                        {% if dictionary.description|length > 0 %}
                        <div class="row small">
                            {{ dictionary.description }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-3">
                        <div class="row">
                        <input class="btn btn-outline-success" type="button" value="Choose"
                               onclick="openDictionary({{ dictionary.id }})">
                        </div>
                        <div class="row">
                            <input class="btn btn-outline-secondary" type="button" value="Update"
                                   onclick="updateDictionary({{ dictionary.id }})">
                        </div>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        No dictionaries
    {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
    function openDictionary(dictionary_id) {
        document.location.href = '/tasks/create_exercise/' + dictionary_id + '/';
    }

    function updateDictionary(dictionary_id) {
        document.location.href = '/dictionaries/update_dictionary/' + dictionary_id + '/';
    }

    $(document).ready(function() {
        $('li#dictionaries a').addClass('active');
    });
    </script>
{% endblock %}
