a.dict-link {
    text-decoration: none;
    background-color: #eee8d5;
    color: #3f888f;
    font-size: 13pt;
    text-align: left;
    font-family: "Roboto", sans-serif;
}

@media (max-width: 1000px) {
    a.dict-link {
        font-size: 27pt;
    }
    div.dict-box input {
        font-size: 26pt;
    }
}

a.dict-link:hover {
    text-decoration: underline;
}

div.dict-box {
    border: 4px solid saddlebrown;
    border-left: 1px ;
    border-radius: 0 15px 15px 0 ;
    margin: 10px 0;
}

div.dict-box:hover {
    margin-left: 10px;
    margin-right: -10px;
}

div.dict-box .row {
    padding: 5px;
}

div.dict-box .small{
    padding-left: 20px;
    color: #666;
}
