a.group-link {
    text-decoration: none;
    background-color: #eee8d5;
    color: #3f888f;
    font-size: 13pt;
    text-align: left;
    font-family: "Roboto", sans-serif;
}

@media (max-width: 1000px) {
    a.group-link {
        font-size: 27pt;
    }
    div.group-box input {
        font-size: 26pt;
    }
    div.task-box div.row {
        font-size: 26pt;
    }
    div.task-box div.row input {
        font-size: 26pt;
    }
    div.row.small {
        font-size: 20pt;
    }
}

a.group-link:hover {
    text-decoration: underline;
}

div.group-box {
    /*min-height: 90px;*/
    border: 1px solid #af0000;
    border-radius: 3px;
    margin: 10px 0;
}

div.group-box .row {
    padding: 5px;
}

div.group-box .small{
    padding-left: 20px;
    color: #666;
}

div.public-group-box {
    border-color: #3f888f;;
}

div.tasks {
    margin-top: 10px;
}

div.task-box {
    border: 1px solid #af0000;
    border-radius: 3px;
    padding: 5px 20px;
    margin-bottom: 5px;
}

div#task-progress {
    height: 25px;
}
