div.links-div a.left-colon-link {
    text-decoration: none;
    background-color: #eee8d5;
    color: #3f888f;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 12pt;
    text-align: left;
}

@media (max-width: 1000px) {
    div.links-div a.left-colon-link {
        font-size: 26pt;
    }
}

div.links-div a:hover {
    background-color: #3f888f;
    color: #eee8d5;
}

div.links-div a.active {
    color: #af0000;
}

a.left-colon-link.active:hover {
    background-color: #af0000;
    color: #eee8d5;
}

a.left-colon-link.second-class {
    margin-left: 10px;
}
