html {
    scroll-behavior: smooth;
}

body {
    background-color: #eee8d5;
    margin-top: 0;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 14pt;
}

ul {
    list-style-type: circle;
}

div#title {
    display: grid;
    place-items: center;
}

h1#main-title {
    color: #af0000;
    font-family: 'Kelly Slab', cursive;
    font-size: 140pt;
    text-align: center;
}

div#outer-buttons {
    display: grid;
    place-items: center;
    padding: 0;
}

div#buttons input[type="button"] {
    height: 80px;
    width: 200px;
    background-color: #af0000;
    border-radius: 20px;
    border: none;
    color: #eee8d5;
    font-size: x-large;
}

div#buttons input:active[type="button"] {
    background-color: #3f888f;
}

div#buttons input:hover[type="button"] {
    background-color: #3f888f;
}

div#second-page {
    display: grid;
    place-items: center;
}

#contact li {
    list-style-type: none;
}

#contact a {
    color: black;
}

ul.directions-ul {
    list-style-type: none;
    overflow: hidden;
}

div#answer {
    margin: 20px 20px;
    text-align: center;
}

div#answers {
    margin: 0;
}

div#answers * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

div#right-answer {
    text-align: center;
    font-size: 25pt;
    margin: 20px 20px -10px;
}

div#question {
    font-size: 39pt;
    margin: 20px 20px -10px;
}

div#back-question {
    font-size: 25pt;
    margin: 20px 20px -10px;
}

div#answer {
    font-size: 25pt;
    margin: 20px 20px -10px;
}

div#back-buttons {
    margin: 20px 0;
}

div#front-buttons {
    margin: 20px 0;
}

div#front-buttons button {
    margin: 10px;
}

div#ul-answers {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#content-main {
    align-content: center;
    text-align: center;
}

div#content-main div.row {
    place-content: center;
}

div#back-page div.row {
    place-content: center;
}

div#language1 {
    color: #af0000;
}

div#language2 {
    color: #3f888f;
}

.radio-container {
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: 1px solid #3f888f;
    border-radius: 3px;
    display: block;
    padding: 0;
    margin: 20px 0;
}

.radio-container .radio-btn label {
    background-color: #eee8d5;
    color: #3f888f;
    display: block;
    padding: 20px 12px;
    text-align: center;
}

.radio-container .radio-btn input{display: none;}
.radio-container .radio-btn input:checked + label{
    background-color: #3f888f;
    color: #eee8d5;
}

@media (max-width: 900px) {
    h1#main-title {
       font-size: 60px;
    }
    div#buttons input[type="button"] {
        margin: 0;
        padding: 10px;
        border-radius: 15px;
        font-size: larger;
    }
    div.col-md-5 div.row {
        place-content: center;
        display: grid;
        margin: 10px 0;
    }
}

.my-bg-dark {
    background-color: #af0000;
    color: #eee8d5;
}

div#second-page img {
    width: 100%;
    border-radius: 6px;
}

div#second-page div.col-md-4 {
    display: grid;
    place-content: center;
}

div#second-page div.col-7 div.row {
    display: grid;
    place-content: center;
}

div#second-page div.col-8 div.row{
    display: grid;
    place-content: center;
}

div#second-page div {
    margin-bottom: 25px;
}

div.source {
    display: grid;
    place-content: center;
    margin: 10px;
    font-size: 25pt;
}