div.my-form-container {
    max-width: 400px;
}

div.my-form-container form p input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

div.my-form-container form p select {
    width: 100%;
    box-sizing: border-box;
}

div.my-form-container form p input[type="checkbox"] {
    width: min-content;
}

div.my-form-container div.container form label {
    padding: 0;
}

div.my-form-container {
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    background-color: #eeeeee;
    padding-bottom: 15px;
}

div.my-form-container h1 {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #af0000;
    color: #eeeeee;
    font-size: larger;
    text-align: center;
}

div.my-form-container {
    padding: 0;
}

div.my-form-container div.container {
    padding: 0 0 15px;
}

div.my-form-container div.container * {
    padding-left: 15px;
    padding-right: 15px;
}

div.my-form-container form a.button {
    font-size: small;
    display: grid;
    text-align: center;
}

div.my-form-container button {
    cursor: pointer;
}

div.my-form-container div.container p {
    font-size: smaller;
    text-align: center;
}

ul.errorlist {
    list-style-type: none;
    font-size: small;
    color: #af0000;
}

p.help-message {
    font-size: small;
}

@media (max-width: 1000px) {
    div.my-form-container {
        font-size: 27pt;
        max-width: 100%;
    }
    div.my-form-container input {
        font-size: 27pt;
    }
    div.my-form-container button {
        font-size: 27pt;
    }
}
