div.nav-bar-div {
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 30px;
}

ul.nav-bar-ul {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #eee8d5;
    border-top: 0;
    background-color: #af0000;
    z-index: 1;
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
}

li.nav-bar-li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child.nav-bar-li, li:nth-last-child(2).nav-bar-li {
    border-right: none;
    border-left: 1px solid #bbb;
    float: right;
}

li.nav-bar-li a.nav-bar-a {
    display: block;
    color: #eee8d5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14pt;
}

li.nav-bar-li a:hover:not(:active) {
    background-color: #3f888f;
}

li.nav-bar-li a.active {
    color: white;
    background-color: #3f888f;
}

li:first-of-type.nav-bar-li {
    -webkit-border-radius: 0 0 0 15px;
    -moz-border-radius: 0 0 0 15px;
    border-radius: 0 0 0 15px;
}

li:last-of-type.nav-bar-li {
    -webkit-border-radius: 0 0 15px 0;
    -moz-border-radius: 0 0 15px 0;
    border-radius: 0 0 15px 0;
}

.navbar {
    display: none;
    margin-bottom: 20px;
}

div.nav-bar-div {
    display: block;
}

@media (max-width: 1000px) {
    nav.navbar {
        display: block;
    }
    div.nav-bar-div {
        display: none;
    }
}
