div.unfinished a {
    text-decoration: none;
    background-color: #eee8d5;
    color: #3f888f;
    font-size: 13pt;
    text-align: left;
}

@media (max-width: 1000px) {
    div.unfinished a {
        font-size: 27pt;
    }
    div.unfinished input {
        font-size: 26pt;
    }
    div.settings-row  {
        font-size: 27pt;
    }
    div.settings-row input {
        font-size: 26pt;
    }
}

div.unfinished a:hover {
    text-decoration: underline;
}

div.unfinished {
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #3f888f;
    border-radius: 3px;
}

div.unfinished_trainings {
    margin: 10px 0;
    border-left: 5px solid #af0000;
    padding-left: 15px;
}

div.unfinished_trials {
    margin: 10px 0;
    border-left: 5px solid #af0000;
    padding-left: 15px;
}

div.settings-row {
    margin: 15px 0;
}

div.progress {
    height: 6px;
    background-color: grey;
    margin: 5px 0;
}

.bg-progress {
    background-color: greenyellow;
}
