@media (max-width: 1000px) {
    div.left-colon a.left-colon-link {
        text-align: center;
    }

    div.input-div label {
        font-size: 35pt;
    }

    div#front-buttons input {
        font-size: 20pt;
        height: 50pt;
    }

    div#back-buttons input {
        font-size: 30pt;
    }

    div#question {
        font-size: 45pt;
    }

    .navbar {
        font-size: 30pt;
    }

    .navbar a {
        font-size: 35pt;
    }

    div.message-row {
        font-size: 25pt;
    }
}
