{% extends "base.html" %}
{% load static %}
{% block head_title %} Results {% endblock %}
{% block extra_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.3/pixi.min.js"></script>
    <script src="{% static 'js/stars.js' %}"></script>

    <link rel="stylesheet" type='text/css' href="{% static 'global_styles/results_page.css' %}">
{% endblock %}
{% block left_colon %}
    <div class="container links-div">
        {% if group %}
        <div class="row">
            <a class="left-colon-link" href="{% url 'groups:group_page' group.id %}">Group page</a>
        </div>
        {% endif %}
        <div class="row">
            <a class="left-colon-link" href="{% url 'tasks:create_exercise' dictionary_id %}">Start again</a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container results-page">
        <div id="stars">
            <script>show_stars({{ star_count }})</script>
        </div>
        <div id="progress" class="row">
                <h4>
                Your progress:
                {{ progress.0 }} of {{ progress.1 }}
                </h4>
        </div>
        <div class="row">
                <h5>
                Duration:
                {{ duration.minutes }} min {{ duration.seconds }} sec
                </h5>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
