{% extends "base.html" %}
{% block head_title %} Training {% endblock %}
{% block content %}
<div id="content-main" class="container">
    <div id="front-page">
        <div class="row">
            <h5>Do you know this word in {{ language2.title }}?</h5>
        </div>
        <div id="question" class="row question">
            {{ word }}
        </div>
        <div class="row" id="language1"> {{ language1.title }}</div>
        <div id="front-buttons" class="row">
                <div class="col-5">
                    <div class="row">
                <input class="btn btn-outline-success" type="button"
                       onclick="click_knowledge(true)" value="I know!">
                    </div>
                </div>
            <div class="col-2"></div>
                <div class="col-5">
                    <div class="row">
                <input class="btn btn-outline-secondary" type="button"
                       onclick="click_knowledge(false)" value="I do not remember">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="back-page" style="display: none">
{#        <div class="row">#}
{#        <h5>Do you know this word?</h5>#}
{#        </div>#}
        <div class="row question" id="back-question">{{ word }}</div>
        <div class="row" id="language1"> {{ language1.title }}</div>
        <div class="row answer" id="answer">{{ translation }}</div>
        <div class="row" id="language2"> {{ language2.title }}</div>
        <div class="row" id="back-buttons">
            <input class="btn btn-outline-primary" type="button" onclick="click_next()" value="Next">
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    function click_knowledge(knowledge){
        const jq = $.ajax({
            url: "",
            method: "post",
            async: true,
            data: {
                csrfmiddlewaretoken: getCookie('csrftoken'),
                'knowledge': knowledge,
            },
            contentType: "application/x-www-form-urlencoded"
        });
        jq.done(function(){
            $('#back-page').show();
            $('#front-page').hide();
        });
    }

    function click_next(){
        const jq = $.ajax({
            url: "next",
            method: "get",
            async: true,
        });
        jq.done(function(data){
            if (data['stop'] === true) {
                document.location.href = data['address'];
            }
            $('#back-page').hide();
            $('#front-page').show();
            $('#back-question').html(data['word']);
            $('#question').html(data['word']);
            $('#answer').html(data['translation']);
        });
    }
</script>
{% endblock %}
