{% extends "base.html" %}
{% block head_title %}
    Profile
{% endblock %}
{% block left_colon %}
    <div class="container links-div">
        <div class="row">
            <a class="left-colon-link active" href="{% url 'accounts:get_profile' %}">Profile</a>
        </div>
        <div class="row">
            <a class="left-colon-link" href="/groups/">Groups</a>
        </div>
        <div class="row">
            <a class="left-colon-link" href="{% url 'accounts:statistics' %}">Statistics</a>
        </div>
        <div class="row">
            <a class="left-colon-link" href="{% url 'accounts:settings' %}">Settings</a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2>Hello, {{ user.username }}!</h2>
        </div>
        {% if unfinished_trainings|length > 0 %}
        <div class="row unfinished_trainings">
            <h4>Unfinished trainings:</h4>
            <div class="container">
                {% for training in unfinished_trainings %}
                <div class="row unfinished">
                    <a href="{% url 'tasks:training' training.id %}">{{ training }}</a>
                    <div class="progress">
                        <div class="progress-bar bg-progress" role="progressbar"
                             style="width: {{ training.percent_progress }}%"
                             aria-valuenow="{{ training.percent_progress }}" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if unfinished_trials|length > 0 %}
            <div class="row unfinished_trials">
                <h4>Unfinished trials:</h4>
                <div class="container">
                    {% for trial in unfinished_trials %}
                    <div class="row unfinished">
                        <a href="{% url 'tasks:trial' trial.id %}">{{ trial }}</a>
                        <div class="progress">
                            <div class="progress-bar bg-progress" role="progressbar"
                                 style="width: {{ trial.percent_progress }}%"
                                 aria-valuenow="{{ trial.percent_progress }}"
                                 aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('li#profile a').addClass('active');
        });
    </script>
{% endblock %}
