{% extends "base.html" %}
{% block head_title %}
    Settings
{% endblock %}
{% block left_colon %}
    <div class="container links-div">
        <div class="row">
            <a class="left-colon-link" href="{% url 'accounts:get_profile' %}">Profile</a>
        </div>
        <div class="row">
            <a class="left-colon-link" href="/groups/">Groups</a>
        </div>
        <div class="row">
            <a class="left-colon-link" href="{% url 'accounts:statistics' %}">Statistics</a>
        </div>
        <div class="row">
            <a class="left-colon-link active" href="{% url 'accounts:settings' %}">Settings</a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row settings-row">
            <label>
                First name: <input id="first-name" type="text" value="{{ user.first_name }}">
            </label>
        </div>
        <div class="row settings-row">
            <label>
                Last name: <input id="last-name" type="text" value="{{ user.last_name }}">
            </label>
        </div>
        <div class="row settings-row">
            <label>
                Username: <input id="username" type="text" value="{{ user.username }}">
            </label>
        </div>
        <div class="row settings-row buttons-row">
            <input class="btn btn-outline-success" type="button" value="Save" onclick="save_settings()">
        </div>

        <div class="row settings-row">
            <a href="{% url 'account_email' %}">Change e-mail</a>
        </div>
        <div class="row settings-row">
            <a href="{% url 'account_change_password' %}">Change password</a>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

    function save_settings() {
        const jq = $.ajax({
            url: "",
            method: "post",
            async: true,
            data: {
                csrfmiddlewaretoken: getCookie('csrftoken'),
                'username': $('#username')[0].value,
                'lastname': $('#last-name')[0].value,
                'firstname': $('#first-name')[0].value,
            },
            contentType: "application/x-www-form-urlencoded"
        });
        jq.done(function(data){
            for (let message of data['my_messages']) {
                $('div.message-container')[0].innerHTML += '<div class="row message-row">' + message + '</div>'
            }
        });
    }

    $(document).ready(function() {
            $('li#profile a').addClass('active');
        });
    </script>
{% endblock %}
