{% extends "base.html" %}
{% block head_title %}
Statistics
{% endblock %}
{% block left_colon %}
<div class="container links-div">
    <div class="row">
        <a class="left-colon-link" href="{% url 'accounts:get_profile' %}">Profile</a>
    </div>
    <div class="row">
        <a class="left-colon-link" href="/groups/">Groups</a>
    </div>
    <div class="row">
        <a class="left-colon-link active" href="{% url 'accounts:statistics' %}">Statistics</a>
    </div>
    <div class="row">
        <a class="left-colon-link" href="{% url 'accounts:settings' %}">Settings</a>
    </div>
</div>
{% endblock %}
{% block title %}
    Statistics
{% endblock %}
{% block content %}
    <div class="container">
        {% if dictionaries|make_list|length > 0 %}
        <div class="row">
            <h4>Used dictionaries</h4>
            {% for dictionary in dictionaries %}
                <div class="row dict-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-9">
                                <div class="row">
                                    <a class="dict-link" href="{% url 'accounts:statistic_dict' dictionary.id %}">{{ dictionary.title }}</a>
                                </div>
                                {% if dictionary.description|length > 0 %}
                                    <div class="row small">
                                        {{ dictionary.description }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <input class="btn btn-outline-success" type="button" value="Open"
                                           onclick="openDictionary({{ dictionary.id }})">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function openDictionary(dictionary_id) {
            document.location.href = '/accounts/profile/statistic_dict/' + dictionary_id + '/';
        }

        $(document).ready(function() {
            $('li#profile a').addClass('active');
        });
    </script>
{% endblock %}
