{% extends "base.html" %}
{% block left_colon %}
<div class="container links-div">
    <div class="row">
        <a class="left-colon-link" href="{% url 'accounts:get_profile' %}">Profile</a>
    </div>
    <div class="row">
        <a class="left-colon-link" href="/groups/">Groups</a>
    </div>
    <div class="row">
        <a class="left-colon-link active" href="{% url 'accounts:statistics' %}">Statistics</a>
    </div>
    <div class="row">
        <a class="left-colon-link" href="{% url 'accounts:settings' %}">Settings</a>
    </div>
</div>
{% endblock %}
{% block headtitle %}
    Statistics
{% endblock %}
{% block content %}
    <div class="container">
        {% if training_words|make_list|length > 0 %}
        <div class="row">
            <h4>Trainings</h4>
            <table>
                <tr>
                    <th>{{ language1|title }}</th>
                    <th>{{ language2|title }}</th>
                    <th> Right</th>
                    <th> Total</th>
                    <th> Percent</th>
                </tr>
                {% for word, statistic in training_words %}
                <tr>
                    <td>{{ word.language1.1 }}</td>
                    <td>{{ word.language2.1 }}</td>
                    <td>{{ statistic.right }}</td>
                    <td>{{ statistic.total }}</td>
                    <td>{{ statistic.percent }}%</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    <hr>
        {% if trial_words|length > 0 %}
            <div class="row">
                <h4>Trials</h4>
                <table>
                    <tr>
                        <th>{{ language1|title }}</th>
                        <th>{{ language2|title }}</th>
                        <th> Right</th>
                        <th> Total</th>
                        <th> Percent</th>
                    </tr>
                    {% for word, statistic in trial_words %}
                    <tr>
                        <td>{{ word.language1.1 }}</td>
                        <td>{{ word.language2.1 }}</td>
                        <td>{{ statistic.right }}</td>
                        <td>{{ statistic.total }}</td>
                        <td>{{ statistic.percent }}%</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('li#profile a').addClass('active');
        });
    </script>
{% endblock %}
