div.account-container {
    max-width: 400px;
}

div.account-container form p input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
div.account-container form p input[type="checkbox"] {
    width: min-content;
}

div.account-container div.container form label {
    padding: 0;
}

div.account-container {
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    background-color: #eeeeee;
    padding-bottom: 15px;
}

div.account-container h1 {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #3f888f;
    color: #eee8d5;
    font-size: larger;
    text-align: center;
}

div.account-container {
    padding: 0;
}

div.account-container div.container {
    padding: 0 0 15px;
}

div.account-container div.container * {
    padding-left: 15px;
    padding-right: 15px;
}

div.account-container form a.button {
    font-size: small;
    display: grid;
    text-align: center;
}

div.account-container button {
    margin-top: 10px;
    cursor: pointer;
    font-weight: normal;
    align-items: flex-start;
    text-align: center;
    font-size: 13pt;
    border-radius: 3px;
    border: 1px solid #3f888f;
    background-color: #3f888f;
    color: #eee8d5;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

div.account-container div.container input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-weight: normal;
    align-items: flex-start;
    text-align: center;
    font-size: 13pt;
    border-radius: 3px;
    border: 1px solid #3f888f;
    background-color: #3f888f;
    color: #eee8d5;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

div.account-container div.container p {
    font-size: smaller;
    text-align: center;
}

ul.errorlist {
    list-style-type: none;
    font-size: small;
    color: #af0000;
}

@media (max-width: 1000px) {
    div.account-container {
        font-size: 27pt;
        max-width: 100%;
    }
    div.account-container input {
        font-size: 27pt;
    }
    div.account-container button {
        font-size: 27pt;
    }
}
