{% extends "base.html" %}
{% block head_title %} Add student to {{ group.title }} {% endblock %}
{% block left_colon %}
    <div class="container links-div">
    <div class="row">
        <a href="{% url 'groups:group_page' group.id %}">Back to the group page</a>
    </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container my-form-container">
    <div class="container">
        <h1>Add student by username</h1>
        <div class="row">
            <form action="" method="post" enctype="multipart/form-data" data-ajax="false">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="row">
                    <div class="col-5">
                        <div class="row">
                            <button class="btn btn-sm btn-outline-primary" type="submit">Submit</button>
                        </div>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <div class="row">
                            <button class="btn btn-sm btn-outline-danger" type="reset">Reset</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('li#groups a').addClass('active');
        });
    </script>
{% endblock %}
