{% extends "base.html" %}
{% block head_title %} Groups {% endblock %}
{% block left_colon %}
    <div class="container links-div">
        <div class="row">
            <a class="left-colon-link" href="{% url 'accounts:get_profile' %}">Profile</a>
        </div>
        <div class="row">
            <a class="left-colon-link active" href="/groups/">Groups</a>
        </div>
        <div class="row">
            <a class="left-colon-link second-class" href={% url 'groups:create_group' %}>Create group</a>
        </div>
        <div class="row">
            <a class="left-colon-link" href="{% url 'accounts:statistics' %}">Statistics</a>
        </div>
        <div class="row">
            <a class="left-colon-link" href="{% url 'accounts:settings' %}">Settings</a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
    <div class="row">
    {% if groups|length > 0 %}
    <h4>Your groups:</h4>
        <div class="container">
            {% for group in groups %}
                <div class="row">
                <div class="group-box">
                    <div class="row">
                        <div class="col-9">
                            <div class="row">
                                <a class="group-link" href="{% url 'groups:group_page' group.id %}">{{ group.title }}</a>
                            </div>
                            <div class="row small">
                                {% if group.description|length > 0 %}
                                {{ group.description }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <input class="group-buttons btn btn-sm btn-outline-success" type="button" value="Open"
                                       onclick="openGroup({{ group.id }})">
                            </div>
                            <div class="row">
                                <input class="group-buttons btn btn-sm btn-outline-danger" type="button" value="Leave"
                                       onclick="leaveGroup({{ group.id }})">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
    <h4>Your are not a member of any group</h4>
    {% endif %}
    </div>
    {% if public_groups|length > 0 %}
    <hr>
    <div class="row">
        <div class="row">
            <h4>Open groups:</h4>
        </div>
        <div class="container">
            {% for group in public_groups %}
                <div class="row">
                <div class="group-box public-group-box">
                    <div class="row">
                        <div class="col-9">
                            <div class="row">
                                <a class="group-link" href="{% url 'groups:join_group' group.id %}">{{ group.title }}</a>
                            </div>
                            {% if group.description|length > 0 %}
                            <div class="row small">
                                    {{ group.description }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <input class="group-buttons btn btn-sm btn-outline-success" type="button" value="Join"
                                       onclick="joinGroup({{ group.id }})">
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
    function openGroup(group_id) {
        document.location.href = '/groups/' + group_id;
    }

    function joinGroup(group_id) {
        document.location.href = '/groups/' + group_id + '/join_group/';
    }

    function leaveGroup(group_id) {
        document.location.href = '/groups/' + group_id + '/leave_group/';
    }

    $(document).ready(function() {
            $('li#groups a').addClass('active');
        });
    </script>
{% endblock %}
