{% extends "base.html" %}
{% block head_title %} {{ group.title }} {% endblock %}
{% block left_colon %}
    <div class="links-div container">
    <div class="row">
        <a class="left-colon-link" href="{% url 'groups:add_student' group.id %}">Add new student</a>
    </div>
    <div class="row">
        <a class="left-colon-link" href="{% url 'groups:group_page' group.id %}">Back to the group page</a>
    </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
    <h4>Students:</h4>
    <ul>
        {% for student in group.students.all %}
            <li>
            {% if student.first_name|length > 0 and student.last_name|length > 0 %}
                {{ student.first_name }} {{ student.last_name }}
            {% else %}
                {{ student.username }}
            {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if group.teacher %}
    <h4>Teacher:</h4>
    {{ group.teacher }}
    {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('li#groups a').addClass('active');
        });
    </script>
{% endblock %}
