{% extends "base.html" %}
{% block head_title %} {{ group.title }} {% endblock %}
{% block extra_styles %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" crossorigin="anonymous"></script>
{% endblock %}
{% block left_colon %}
    <div class="container links-div">
        <div class="row">
            <a class="left-colon-link active" href="{% url 'groups:group_page' group.id %}">{{ group.title }}</a>
        </div>
        <div class="row">
            <a class="left-colon-link second-class" href="{% url 'groups:group_dictionaries' group.id %}">Group dictionaries</a>
        </div>
        <div class="row">
            <a class="left-colon-link second-class" href="{% url 'groups:create_group_dictionary' group.id %}">Create dictionary</a>
        </div>
        <div class="row">
            <a class="left-colon-link second-class" href="{% url 'groups:create_task' group.id %}">Create task</a>
        </div>
        <div class="row">
            <a class="left-colon-link second-class" href="{% url 'groups:participants' group.id %}">Participants</a>
        </div>
        <div class="row">
            <a class="left-colon-link second-class" href="{% url 'groups:add_student' group.id %}">Add new student</a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
    <div class="row">
        <h3>{{ group.title }}</h3>
        <small>{{ group.description }}</small>
    </div>
    <div class="row rating">
        <canvas id="myChart" width="400" height="300"></canvas>
<script>
    function getRating() {
        const jq = $.ajax({
            url: "{{ group.id }}/rating/",
            method: "get",
            async: true,
        });
        jq.done(function(data) {
            let rating = data['dataset'];
            let dates = data['dates']
            console.log(dates)

            let ctx = document.getElementById('myChart').getContext('2d');
            let myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: rating,
                    labels: dates,
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    title: {
                        display: true,
                        text: 'Rating',
                        fontSize: 25
                    }
                }
            });
        });
    }
    getRating();
</script>
    </div>
    <div class="row tasks">
        {% if new_tasks|length > 0 %}
            {% for task, progress in new_tasks %}
                <div class="container task-box" id="task_{{ task.id }}">
                    <div class="row">
                        <div class="col-9">
                            <div class="row">
                                <strong>{{ task.title }} </strong>
                            </div>
                            <div class="row">
                                <small>Deadline: {{ task.deadline }}</small>
                                <small><a href="{% url 'tasks:create_exercise' task.dictionary.id %}">{{ task.dictionary }}</a></small>
                            </div>
                        </div>
                        <div class="col-3">
                            {% if user.id == task.creator_id %}
                            <div class="row">
                                <input class="group-buttons btn btn-sm btn-outline-danger" type="button" value="Delete"
                                       onclick="deleteTask({{ task.id }})">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                <div class="row">
                    <div class="progress" id="task-progress">
                        <div class="progress-bar bg-info" role="progressbar"
                             style="width: {{ progress }}%;" aria-valuenow="{{ progress }}"
                             aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
                    </div>
                </div>
                </div>
            {% endfor %}
        {% else %}
        New tasks will be displayed here.
        {% endif %}
    </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
    // using jQuery
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }

    let csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function deleteTask(task_id) {
        const jq = $.ajax({
            url: "/groups/{{ group.id }}/delete_task/" + task_id,
            method: "delete",
            data: {
                csrfmiddlewaretoken: getCookie('csrftoken'),
            },
            async: true,
        });
        jq.done(function(data){
            if (data['status'] === 'ok') {
                $('#task_'+data['task_id']).remove()
            }
        });
    }
    $(document).ready(function() {
            $('li#groups a').addClass('active');
        });
    </script>
{% endblock %}
