{% extends "base.html" %}
{% block head_title %} Trial {% endblock %}
{% block content %}
<div id="content-main" class="container">
    <h4>Choose the correct translation into {{ language2.title }}</h4>
    <div id="front-page">
        <div id="question" class="row">{{ word }}</div>
        <div class="row" id="language1"> {{ language1.title }}</div>
        <div id="answers" class="row">
            {{ list_answers }}
        </div>
        <div id="front-buttons" class="row">
            <input class="btn btn-outline-primary" type="button" onclick="click_check()" value="Check">
        </div>
    </div>
    <div id="back-page" style="display: none">
        <div id="back-question" class="row">{{ word }}</div>
        <div class="row" id="language1"> {{ language1.title }}</div>
        <div id="right-answer" class="row"></div>
        <div class="row" id="language2"> {{ language2.title }}</div>
        <div id="back-buttons" class="row">
            <input class="btn btn-outline-primary" type="button" onclick="click_next()" value="Next">
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');


    function click_check(){
        const jq = $.ajax({
            url: "",
            method: "post",
            async: true,
            data: {
                csrfmiddlewaretoken: getCookie('csrftoken'),
                'answer': $("input:radio[name='answer']:checked").attr('id')
            },
            contentType: "application/x-www-form-urlencoded"
        });
        jq.done(function(data){
            $('#back-page').show();
            let right_answer = $('#right-answer');
            right_answer[0].innerText = data['right_answer'];
            $('#front-page').hide();

            if (data['result']) {
                right_answer.css({'color': 'green'})
            } else {
                right_answer.css({'color': 'red'})
            }
        });
    }

    function click_next(){
        const jq = $.ajax({
            url: "next",
            method: "get",
            async: true,
        });
        jq.done(function(data){
            if (data['stop'] === true) {
                document.location.href = data['address'];
            }
            $('#back-page').hide();
            $('#front-page').show();
            $('#back-question').html(data['question']);
            $('#question').html(data['question']);
            $('#answers').html(data['answersHTML'])
        });
    }
    click_next();
</script>
{% endblock %}
