<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}

      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Bellota&family=Kelly+Slab&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/49d11f2271.js"></script>

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    {% load static %}
      <link rel="shortcut icon" href="{% static 'img/icon.png' %}" type="image/png">
      <link rel="stylesheet" type='text/css' href="{% static 'global_styles/main.css' %}">
      <link rel="stylesheet" type='text/css' href="{% static 'global_styles/my_forms.css' %}">
      <link rel="stylesheet" type='text/css' href="{% static 'global_styles/left_colon.css' %}">
      <link rel="stylesheet" type='text/css' href="{% static 'global_styles/groups.css' %}">
      <link rel="stylesheet" type='text/css' href="{% static 'global_styles/dicts.css' %}">
      <link rel="stylesheet" type='text/css' href="{% static 'global_styles/profile.css' %}">
      <link rel="stylesheet" type='text/css' href="{% static 'global_styles/nav_bar.css' %}">

      <link rel="stylesheet" type='text/css' href="{% static 'global_styles/small_display.css' %}">
      {% block extra_styles %} {% endblock %}
    {% block account_styles %} {% endblock %}

    <meta charset="UTF-8">
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark my-bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Foreign Words</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" id="nav-home">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item" id="nav-dictionaties">
          <a class="nav-link" href="{% url 'tasks:exercises' %}">Dictionaries</a>
        </li>
        <li class="nav-item" id="nav-groups">
          <a class="nav-link" href="/groups/">Groups</a>
        </li>
          <li class="nav-item" id="nav-help">
              <a class="nav-link" href="/help/">Help</a>
          </li>
          <li class="nav-item" id="nav-profile">
              <a class="nav-link" href="/accounts/profile/">Profile</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item" id="nav-logout">
              <a class="nav-link" href="/accounts/logout/">Log out</a>
          </li>
          {% else %}
              <li class="nav-item" id="nav-login">
                  <a class="nav-link" href="/accounts/login/">Log in</a>
              </li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>
  <div class="nav-bar-div">
      <ul class="nav-bar-ul">
          <li class="nav-bar-li" id="home">
              <a class="nav-bar-a" href="/">Home</a>
          </li>
          <li class="nav-bar-li" id="dictionaries">
            <a class="nav-bar-a" href="{% url 'tasks:exercises' %}">Dictionaries</a>
          </li>
          <li class="nav-bar-li" id="groups">
              <a class="nav-bar-a" href="/groups/">Groups</a></li>
          <li class="nav-bar-li" id="help">
<a class="nav-bar-a" href="/help/">Help</a>
          </li>
          <li class="nav-bar-li" id="profile">
<a class="nav-bar-a" href="/accounts/profile/">Profile</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-bar-li" id="logout">
<a class="nav-bar-a" href="/accounts/logout/">Log out</a>
          </li>
          {% else %}
          <li class="nav-bar-li" id="login">
<a class="nav-bar-a" href="/accounts/login/">Log in</a>
          </li>
          {% endif %}
      </ul>
  </div>
    {% block body %}
        <div class="container" id="body-container">
        <div class="row">
            <div class="col-lg-2 left-colon">
                {% block left_colon %}
                {% endblock %}
            </div>
            <div class="col-lg-8 align-content-center center-colon">
            {% block wrapper %}
                {% block content %}
                {% endblock %}
            {% endblock %}
            </div>
            <div class="col-lg-2 right-colon">
                <div class="container message-container">
                    {% if messages %}
                        <div class="row message-row">
                            {% for message in messages %}
                                {{message}}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                {% if news %}
                    <div class="container news-container">
                        <strong>News:</strong>
                        <div class="row news-row">
                            {% for message in news %}
                                {{message}}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        </div>
        {% block scripts %}
        {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
