{% extends "base.html" %}
{% block extra_head %}
{% endblock %}
{% block head_title %}
Help
{% endblock %}
{% block body %}
{% block content %}
    <div class="container">
    <p>
        You can
        <a href="mailto:foreign.words.server@gmail.com">send</a>
         all questions to this e-mail address: <code>foreign.words.server@gmail.com</code>
    </p>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('li#help a').addClass('active');
        });
    </script>
{% endblock %}
{% endblock %}
