{% extends "base.html" %}
{% load static %}
{% block extra_head %}
{% endblock %}
{% block head_title %}
Foreign words
{% endblock %}
{% block body %}
{% block content %}
    <div class="container">
        <div id="first-page" class="page row">
            <div id="title">
                <h1 id="main-title">Foreign Words</h1>
            </div>
            <div id="outer-buttons">
                <div id="buttons">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="row">
                                <input onclick="readMore()" type="button" class="main-buttons" value="Read more">
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <div class="row">
                                <input onclick="goToSignUp()" type="button" class="main-buttons" value="Sign up">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="second-page" class="row">
            <div class="row">
            <h2>About this project</h2>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <img src="{% static 'img/Screenshot_2021-02-12 Training.png' %}" alt="">
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <img src="{% static 'img/Screenshot_2021-02-12 Trial.png' %}" alt="">
                        </div>
                        <div class="col-5">
                            <img src="{% static 'img/Screenshot_2021-02-12 Trial(1).png' %}" alt="">
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    Complete trainings and trials, learn and repeat words. Customize the number of words, the direction,
                    choose dictionaries!
                    <hr>
                    Continue on your smartphone, the interface is adapted for small displays.
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    You can  join to the different groups or create your. There are private and open groups.
                </div>
                <div class="col-md-8">
                    <img src="{% static 'img/Screenshot_2021-02-12 Groups.png' %}" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <img src="{% static 'img/Screenshot_2021-02-12 English SPbSU MCS second-year T1.png' %}" alt="">
                </div>
                <div class="col-md-4">
                    Add private dictionaries inside your groups, create tasks and monitor your progress!
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    Choose various dictionaries or add new!
                </div>
                <div class="col-md-8">
                    <img src="{% static 'img/Screenshot_2021-02-12 Choose a dictionary.png' %}" alt="">
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-5">
                                <div class="row">
                                    <img src="{% static 'img/Screenshot_2021-02-12 Screenshot(1).png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="row">
                                <img src="{% static 'img/Screenshot_2021-02-12 Screenshot.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        You can pause at any moment and resume an exercise after. All unfinished tasks are shown
                        on the profile page.
                        Also you can explore statistics by all dictionaries in same place.
                    </div>
                </div>
            </div>

        </div>
        <div id="contacts" class="row">
            <div id="contact" class="container">
                <div class="row">
                            <div class="col-md-5" id="contact-title">
                            <h3>Contacts</h3>
                            </div>
                            <div class="col-md-3">
                            <ul>
                            <li>
                            <a href="https://github.com/tamarinvs19" target="_blank">
                            <i class="fab fa-github fa-lg"></i> GitHub
                            </a>
                            </li>
                            <li>
                            <a href="https://gitlab.com/tamarinvs19">
                            <i class="fab fa-gitlab fa-lg"></i> Gitlab
                            </a>
                            </li>
                            </ul>
                            </div>
                            <div class="col-md-4">
                            <ul>
                            <li><a href="https://habr.com/ru/users/badger239/"><i class="far fa-newspaper"></i> Habr</a></li>
                            <li><i class="far fa-envelope fa-lg"></i><span> tamarin.vs@ya.com</span></li>
                            </ul>
                            </div>
                            </div>
                <div class="row source">
                    <a href="https://gitlab.com/tamarinvs19/foreign_words">gitlab.com/tamarinvs19/foreign_words</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('li#home a').addClass('active');
            resizePages();
        });

        function resizePages() {
            $('.page').css({ height: (window.innerHeight) +'px' });
            $('div#outer-buttons').position();
        }

        function goToSignUp() {
            document.location.href = '/accounts/signup/';
        }

        function readMore() {
            console.log($(window).height());
            window.scrollBy(0, window.innerHeight);
        }
    </script>
{% endblock %}
{% endblock %}
