{% extends "base.html" %}
{% block head_title %} Create dictionary {% endblock %}
{% block content %}
    <div class="container my-form-container">
    <div class="container">
    <h1>Create dictionary</h1>
    <div class="row">
        <form action="" method="post" enctype="multipart/form-data" data-ajax="false">
            {% csrf_token %}
            {{ form.as_p }}
            <p class="help-message">
                Please, download table as csv-file,
                the first column must contain the words of Language 1,
                the second - Language 2,
                the third (optional) - part of speech.
            </p>
            <div class="row">
                <div class="col-5">
                    <div class="row">
                        <button class="btn btn-sm btn-outline-primary" type="submit">Submit</button>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                    <div class="row">
                        <button class="btn btn-sm btn-outline-danger" type="reset">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('li#dictionaries a').addClass('active');
        });
    </script>
{% endblock %}
